<form>
  <div class="group">

    <div class="half-col">
      <label>From</label>
      <input type="text" class="" id="from" required>
    </div>

    <div class="half-col">
      <label>To</label>
      <input type="text" class="" id="to" required>
    </div>

  </div>

  <div class="group">

    <div class="quarter-col">
      <label>From</label>
      <input type="text" class="" id="from" required>
    </div>

    <div class="quarter-col">
      <label>To</label>
      <input type="text" class="" id="to" required>
    </div>

    <div class="one-col right">
      <label>To</label>
      <input type="text" class="" id="to" required>
    </div>

  </div>


  <button type="submit" class="submit-btn">Search Flights</button>


</form>
