<form>
  <div class="group">

    <div class="half-col">
      <label>From</label>
      <!--<input type="text" class="" id="from" required>-->
      <select>
        <option value="?" selected disabled>From</option>
        <option *ngFor="let domestic of domestics">
          {{domestic.name}}
        </option>
      </select>
    </div>

    <div class="half-col">
      <label>To</label>
      <!--<input type="text" class="" id="to" required>-->
      <select>
        <option value="?" selected disabled>To</option>
        <option *ngFor="let domestic of domestics">
          {{domestic.name}}
        </option>
      </select>
    </div>

  </div>

  <div class="group">

    <div class="quarter-col">
      <label>Date</label>
      <input type="text" id="datepicker" placeholder="Date">
    </div>

    <div class="quarter-col">
      <label>To</label>
      <input type="text" id="datepicker1" placeholder="To">
    </div>

    <div class="one-col right">
      <label>Adults</label>
      <input type="number" class="" id="to" placeholder="Adult">
    </div>

  </div>


  <button type="submit" class="submit-btn">Search Flights</button>


</form>
