<div id="booking-block">
  <div class="content">

    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'Flight')">
        <span class="menu-ico"><img src="../../../assets/img/ico/plane.png"></span> Flight</button>
      <!--<button class="tablinks" onclick="openTab(event, 'Hotels')">Hotels</button>-->
      <button class="tablinks" onclick="openTab(event, 'FlightHotels')">
        <span class="menu-ico"><img src="../../../assets/img/ico/bed.png"></span>Flight + Hotels <span class="save-btn">save</span></button>
      <button class="tablinks" onclick="openTab(event, 'Holidays')">
        <span class="menu-ico"><img src="../../../assets/img/ico/sun-umbrella.png"></span>Holidays</button>
    </div>

    <div id="Flight" class="tabcontent">
      <div class="title">
        <h2>Book Your Flight</h2>
        <div class="flight-type btn-group">
          <button class="left active">Domestic</button>
          <button class="right">International</button>
        </div>
      </div>
      <div class="content">
        <abe-flight></abe-flight>
      </div>
    </div>

    <div id="Hotels" class="tabcontent">
      <div class="title">
        <h2>Hotels</h2>
      </div>
      <div class="content">
        <p>Hotels</p>
      </div>
    </div>

    <div id="FlightHotels" class="tabcontent">
      <div class="title">
        <h2>Flight + Hotels</h2>
      </div>
      <div class="content">
        <p>Flight + Hotels</p>
      </div>
    </div>

    <div id="Holidays" class="tabcontent">
      <div class="title">
        <h2>Holidays</h2>
      </div>
      <div class="content">
        <p>Holidays</p>
      </div>
    </div>

  </div>
</div>
