<div id="booking-block">
  <div class="content">

    <div class="tab">
      <button class="tablinks active" onclick="openTab(event, 'Flight')">Flight</button>
      <!--<button class="tablinks" onclick="openTab(event, 'Hotels')">Hotels</button>-->
      <button class="tablinks" onclick="openTab(event, 'FlightHotels')">Flight + Hotels</button>
      <button class="tablinks" onclick="openTab(event, 'Holidays')">Holidays</button>
    </div>

    <div id="Flight" class="tabcontent">
      <h2>Book Your Flight</h2>
      <abe-flight></abe-flight>
    </div>

    <div id="Hotels" class="tabcontent">
      <h2>Hotels</h2>
      <p>Hotels</p>
    </div>

    <div id="FlightHotels" class="tabcontent">
      <h2>Flight + Hotels</h2>
      <p>Flight + Hotels</p>
    </div>

    <div id="Holidays" class="tabcontent">
      <h2>Holidays</h2>
      <p>Holidays</p>
    </div>

  </div>
</div>
