// Imports

@import "styles-variables";

// Navbar
// Wallpaper
// Booking
// forms
// grid
// Screen adjusments

body, html {
  margin: 0;
  height: 100vh;
  font: $font-size $font-family-sans-serif;
}

* {
  box-sizing: border-box;
}

.right {
  float: $float-right;
}

.left {
  float: $float-left;
}

// ***********************************************************************************************************************
// Navbar
span.menu-ico {
  margin-right: 10px;
}
#handleNav {
  //padding: var(--base-spacing);

  .nav-main{
    border-bottom: 1px solid;
    padding: 0rem 5rem;
    width: 100%;
    background-color: $nav-background-color;
    height: 40px;
    color: $nav-foreground-color;


    > ul {
      @extend %plainlist;
      float:left;

      > li {
        border-right: 1px solid;
        float: left;

        &:last-child {
          border-right: 0px solid;
        }
      }
    }
  }

  label.nav-item {
    font-weight: bold;
  }

  .nav-item {
    //display: inline-block;
    padding: 10px 18px;
    height: 40px;
    line-height: 40px;

    &:hover {
      background:  $nav-hover-color;
      cursor: pointer;
    }
  }

  .nav-option {
    display: none;

    &:checked {
      ~ .nav-content {
          max-height: 400px;
          @include transition(max-height, 0.4s, ease-in)
      }

      + .nav-item {
          background-color: $nav-hover-color;
      }

      ~ .nav-close {
          display: block;
      }
    }
  }

  .nav-content{
    max-height: 0;
    position: absolute;
    top: 41px;
    overflow: hidden;
    background-color: $absa-red;
    z-index: 2;
    color: $nav-foreground-color;

    a {
      color: $nav-foreground-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-sub{
    padding: 20px;

    ul {
      @extend %plainlist;

      a {
        display: inline-block;
        padding: 5px 0;
      }
    }
  }

  .nav-close{
    display: none;
    position: absolute;
    top: 62px;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .nav-close-option {
    display: none;
  }

  // Secondary menu
  .secondary-nav {
    padding: 0rem 5rem;
    display: block;
    padding-top: 40px;
    padding-bottom: 70px;

    .topnav {
      overflow: hidden;
      background-color: $nav-background-color;

      .logo {
        float: left;
        padding-top: 13px;
      }

      a {
        float: left;
        border-radius: 4px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
          //background-color: $nav-hover-color;
          color: $absa-red;
        }
      }

      .active {
        border: 1px solid;
        background-color: $nav-background-color;
        color: white;
      }

    }

    .routes {
      float: right;
    }
  }


  .topnav .icon {
    display: none;
  }

  @media screen and (max-width: $break-medium) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: $break-medium) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      border-radius: 0;
      background: $absa-red;
      float: none;
      display: block;
      text-align: left;
    }
  }


}




// ***********************************************************************************************************************
// Wallpaper
#background-wallpaper {
  position: relative;
  min-height: 100vh;
  //display: flex;
  overflow: hidden;
  justify-content: center;
  color: #FFF;

  &:after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
  }

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visability: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0) scale(1.0, 1.0);
    -moz-transform: translateZ(0) scale(1.0, 1.0);
    -ms-transform: translateZ(0) scale(1.0, 1.0);
    transform: translateZ(0) scale(1.0, 1.0);

    background-image: url("assets/img/afternoon-full.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    animation: increase 60s linear 10ms infinite;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition:all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    z-index: -2;
  }

}
@keyframes increase {
  0%{transform:scale(1)}
  100%{transform:scale(1.5)}
}



// ***********************************************************************************************************************
// Booking
#booking-block {
  padding: 0rem 5rem;
  .content {
    //width: 100%;
    //background: rgba(255, 255, 255, 0.888);
    .tab {
      overflow: hidden;
      button {
        background-color: $dark-grey;
        float: left;
        border: none;
        border-right: 1px solid #FFF;
        outline: none;
        cursor: pointer;
        padding: 14px 20px;
        transition: 0.3s;
        color: #FFF;
        font-size: 1em;

        &:last-child {
          border-right: 0px solid;
        }

        &:hover {
          background-color: $absa-red;
          color: white;
        }
      }

      .active {
        background-color: $absa-red;
      }
    }



    .tabcontent {
      color: #222222;
      display: none;
      padding: 20px 40px;
      border-top: 4px solid $absa-red;
      background: rgba(255, 255, 255, 0.88);
      overflow: hidden;

      label {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;
        display: block;
      }

      h2 {
        display: block;
        float: left;
        margin-right: 25px;
        text-transform: uppercase;
      }

      .btn-group {
        display: block;
        float: $float-right;
        margin: 20px 0;

        button {
          background-color: $nav-foreground-color;
          border: 1px solid $text-light-grey;
          color: $dark-grey;
          padding: 10px 15px;
          cursor: pointer;
          &.active {
            background: $absa-red;
            color: white;
          }

          &.right{
            border-radius: 0px 6px 6px 0px;
          }

          &.left{
            border-radius: 6px 0px 0px 6px;
          }

        }
      }

      .content {
        display: block;
        clear:both
      }
    }

    div#Flight {
      display: block;
    }

  }
}


// ***********************************************************************************************************************
// form
input, select {
  padding: 0 10px;
  border-radius: 4px;
  height: 50px;
  width: 100%;
  border:1px solid $text-light-grey;
  background-image:none;
  background-color:#FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.save-btn {
  background-color: $absa-red;
  font-size: 0.8em;
  padding: 0 3px;
  border-radius: 2px;
  margin: 0 5px;
}

.submit-btn {
  margin:10px;
  background-color: $absa-red;
  float: left;
  border: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 4px;
  border-bottom: 3px solid darkred;
  outline: none;
  cursor: pointer;
  padding: 14px 20px;
  transition: 0.3s;
  color: #FFF;
  font-size: 1em;
}

// ***********************************************************************************************************************
// grid
.half-col {
  @extend %halfColumn;
}

.one-col {
  @extend %oneQuarterColumn
}

.quarter-col {
  @extend %quarterColumn
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


.full-col {
  @extend %fullColumn;
}


// ***********************************************************************************************************************
// Screen adjusments

@media screen and (max-width: $break-medium) {
  .flight-type{
    float: $float-left !important;
  }
  #handleNav .nav-main, #booking-block .content .tabcontent{
    padding: 0rem 1rem !important;
  }

  #handleNav .secondary-nav {
    padding-left: 20px;
    padding-right: 20px;
  }

  #booking-block {
    padding: 0;
  }

  // colums on mobile must stack
  .half-col, .quarter-col {
    width: 100%;
  }
  .tabcontent .one-col {
    float: left;
    width: 40%;
  }
}

@media screen and (min-width: $break-medium) {
  .tabcontent {
    width: 60%;
  }
}
